Repository Xinyi-Ding/Scolarly-Net: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend_install, frontend_lint, frontend_test, frontend_deploy, backend_lint, backend_test, backend_deploy, grobid_deploy

.gitlab-ci.yml:

stages:
  - install
  - lint
  - test
  - deploy

# define yaml anchors for frontend and backend before_script
.change_to_frontend_dir: &change_to_frontend_dir
  before_script:
    - cd frontend
    - pwd

.change_to_backend_dir: &change_to_backend_dir
  before_script:
    - cd backend
    - pwd

# frontend jobs
cache: # cache node_modules
  paths:
    - frontend/node_modules/

frontend_install:
  stage: install
  image: node:20
  tags:
    - frontend
  <<: *change_to_frontend_dir
  script:
    - echo "Cleaning installed the dependency..."
    - rm -rf node_modules
    - npm ci
    - echo "Installed!"
  rules:
    - changes:
      - frontend/**/*
      - .gitlab-ci.yml

frontend_lint:
  stage: lint
  image: node:20
  tags:
    - frontend
  <<: *change_to_frontend_dir
  script:
    - echo "Linting code..."
    - npm run lint
    - echo "Lint passed!"
  rules:
    - changes:
      - frontend/**/*
      - .gitlab-ci.yml

frontend_test:
  stage: test
  image: node:20
  tags:
    - frontend
  <<: *change_to_frontend_dir
  script:
    - echo "Running unit tests..."
    - npm test
    - echo "All test passed!"
  rules:
    - changes:
      - frontend/**/*
      - .gitlab-ci.yml

frontend_deploy:
  stage: deploy
  tags:
    - shell
  <<: *change_to_frontend_dir
  script:
      - echo "Deploying application..."
      - sudo docker stop frontend-container || true
      - sudo docker rm frontend-container || true
      - sudo docker build -t frontend-image .
      - sudo docker run -d -p 5173:80 --name frontend-container frontend-image
      - echo "Deployed!"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
    - changes:
        - frontend/**/*
        - .gitlab-ci.yml

# backend jobs
backend_lint:
  stage: lint
  image: python:3.10
  tags:
    - backend
  <<: *change_to_backend_dir
  script:
    - pip install flake8
    - flake8 . --max-line-length=120
  rules:
    - changes:
      - backend/**/*
      - .gitlab-ci.yml

backend_test:
  stage: test
  image: python:3.10
  tags:
    - backend
  <<: *change_to_backend_dir
  script:
    - apt-get update && apt-get install -y ruby-full # Install ruby for anystyle-cli
    - gem install anystyle-cli # Install anystyle-cli
    - pip install -r requirements.txt # Install python dependencies
    - pytest . # Run tests
  rules:
    - changes:
      - backend/**/*
      - .gitlab-ci.yml

backend_deploy:
  stage: deploy
  tags:
    - shell
  <<: *change_to_backend_dir
  script:
    - echo "Deploying application..."
    - sudo docker stop backend-container || true
    - sudo docker rm backend-container || true
    - sudo docker build -t backend-image .
    - sudo docker run -d -p 8000:80 --name backend-container backend-image
    - echo "Deployed!"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
    - changes:
        - backend/**/*
        - .gitlab-ci.yml

grobid_deploy:
  stage: deploy
  tags:
    - shell
  <<: *change_to_backend_dir
  script:
    - echo "Deploying grobid..."
    - sudo docker stop grobid-container || true
    - sudo docker rm grobid-container || true
    - sudo docker run -d -p 8070:8070 --name grobid-container grobid/grobid:0.8.0
    - |
      echo "Checking Grobid service status..."
      timeout=300  # 5 minutes
      while [ $timeout -gt 0 ]; do
        response=$(curl -s http://localhost:8070/api/isalive || echo "fail")
        if [ "$response" = "true" ]; then
          echo "Grobid is alive. Deployment successful."
          exit 0
        fi
        sleep 10
        timeout=$((timeout-10))
      done
      echo "Grobid deployment verification failed after 5 minutes."
      exit 1
    - echo "Deployed!"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
    - changes:
        - backend/**/*
        - .gitlab-ci.yml

cleanup:
  stage: clean
  tags:
    - shell
  script:
    - sudo docker image prune -f
  when: always

fix syntax
  .gitlab-ci.yml
Due: frontend_install, frontend_lint, frontend_test, frontend_deploy, backend_lint, backend_test, backend_deploy, grobid_deploy

fix path bug
  .gitlab-ci.yml
  frontend/Dockerfile
Due: frontend_install, frontend_lint, frontend_test, frontend_deploy, backend_lint, backend_test, backend_deploy, grobid_deploy

try fix port in CD
  backend/app/main.py
Due: backend_lint, backend_test, backend_deploy, grobid_deploy

try fix port in CD
  .gitlab-ci.yml
  frontend/Dockerfile
  frontend/nginx.conf
Due: frontend_install, frontend_lint, frontend_test, frontend_deploy, backend_lint, backend_test, backend_deploy, grobid_deploy

change frontend port
  docker-compose.yml
  frontend/.env.production
Due: frontend_install, frontend_lint, frontend_test, frontend_deploy

1. Rerun the database with new field added 2. Update all endpoints with example
  backend/app/data/db_dump/article.json
  backend/app/data/db_dump/article_author.json
  backend/app/data/db_dump/article_citation.json
  backend/app/data/db_dump/article_topic.json
  backend/app/data/db_dump/author.json
  backend/app/data/db_dump/sequence.json
  backend/app/data/db_dump/topic.json
  backend/app/db/config.py
  backend/app/main.py
  backend/app/routers/analysis_api.py
  backend/app/routers/catalog_api.py
  backend/app/services/catalog.py
  backend/app/services/models.py
  backend/app/services/schema.py
Due: backend_lint, backend_test, backend_deploy, grobid_deploy

1. Rerun the database with new field added 2. Update all endpoints with example
  backend/app/services/catalog.py
Due: backend_lint, backend_test, backend_deploy, grobid_deploy

try fix nginx in CD
  .gitlab-ci.yml
  frontend/Dockerfile
  frontend/default.conf
  frontend/nginx.conf
Due: frontend_install, frontend_lint, frontend_test, frontend_deploy, backend_lint, backend_test, backend_deploy, grobid_deploy

try fix CD bug
  frontend/Dockerfile
Due: frontend_install, frontend_lint, frontend_test, frontend_deploy

print nginx config
  .gitlab-ci.yml
  frontend/Dockerfile
Due: frontend_install, frontend_lint, frontend_test, frontend_deploy, backend_lint, backend_test, backend_deploy, grobid_deploy

print nginx config
  .gitlab-ci.yml
  docker-compose.yml
  frontend/Dockerfile
  frontend/default.conf
Due: frontend_install, frontend_lint, frontend_test, frontend_deploy, backend_lint, backend_test, backend_deploy, grobid_deploy

connect the frontend and backend in CD
  .gitlab-ci.yml
  backend/app/main.py
  frontend/Dockerfile
Due: frontend_install, frontend_lint, frontend_test, frontend_deploy, backend_lint, backend_test, backend_deploy, grobid_deploy

1. Update api examples 2. Add API Docs
  Documents/API Docs/api-docs.md
  Documents/API Docs/openapi.json
  backend/app/db/mongoengine_models.py
  backend/app/intergration/catalog_access.py
  backend/app/routers/analysis_api.py
  backend/app/routers/catalog_api.py
  backend/app/services/catalog.py
  backend/app/services/models.py
  backend/app/services/schema.py
Due: backend_lint, backend_test, backend_deploy, grobid_deploy

Update /backend/README.md
  backend/README.md
  backend/app/db/config.py
Due: backend_lint, backend_test, backend_deploy, grobid_deploy

fix lint
  backend/app/routers/analysis_api.py
Due: backend_lint, backend_test, backend_deploy, grobid_deploy

Resolve _ to camel fomate
  backend/app/services/catalog.py
  backend/app/services/schema.py
Due: backend_lint, backend_test, backend_deploy, grobid_deploy

update graph styling and documents
  Documents/Guide.md
  Documents/Usability.md
  frontend/src/views/author/CoAuthors.vue
  frontend/src/views/reference/CitedTree.vue
  frontend/src/views/topic/SameTopic.vue
Due: frontend_install, frontend_lint, frontend_test, frontend_deploy

update pages styling
  frontend/src/utils/req.js
  frontend/src/views/author/CoAuthors.vue
  frontend/src/views/reference/CitedTree.vue
  frontend/src/views/topic/SameTopic.vue
Due: frontend_install, frontend_lint, frontend_test, frontend_deploy

1. update CI/CI file 2. change CitedTree graph layout
  .gitlab-ci.yml
  docker-compose.yml
  frontend/src/views/reference/CitedTree.vue
Due: frontend_install, frontend_lint, frontend_test, frontend_deploy, backend_lint, backend_test, backend_deploy, grobid_deploy

1. update frontend graph style 2. fixed Cited Tree generation bug (by Yongkang Qiu)
  backend/app/db/config.py
  backend/app/main.py
  backend/app/services/catalog.py
  frontend/src/lib/exampleDashboard.json
  frontend/src/views/topic/SameTopic.vue
  frontend/tests/components/SearchResult.test.js
Due: frontend_install, frontend_lint, frontend_test, frontend_deploy, backend_lint, backend_test, backend_deploy, grobid_deploy

update page cache rules
  frontend/src/layouts/BaseLayout.vue
  frontend/src/lib/routesConfig.js
Due: frontend_install, frontend_lint, frontend_test, frontend_deploy

remove unnecessary files
  .gradle/7.2/dependencies-accessors/dependencies-accessors.lock
  .gradle/7.2/dependencies-accessors/gc.properties
  .gradle/7.2/fileChanges/last-build.bin
  .gradle/7.2/fileHashes/fileHashes.lock
  .gradle/7.2/gc.properties
  .gradle/checksums/checksums.lock
  .gradle/vcs-1/gc.properties
  Documents/API/api-docs.md
  Documents/API/openapi.json
  backend/src/Grobib/grobid-0.8.0/.gradle/7.2/fileChanges/last-build.bin
  backend/src/Grobib/grobid-0.8.0/.gradle/7.2/gc.properties
Due: backend_lint, backend_test, backend_deploy, grobid_deploy

1. add comments to code 2. remove Pinia and unnecessary files
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/DashboardCard.vue
  frontend/src/components/PaperList.vue
  frontend/src/components/SearchResult.vue
  frontend/src/components/UserChip.vue
  frontend/src/layouts/BaseLayout.vue
  frontend/src/layouts/NetLayout.vue
  frontend/src/lib/routesConfig.js
  frontend/src/main.js
  frontend/src/router/index.js
  frontend/src/stores/counter.js
  frontend/src/utils/network.js
  frontend/src/utils/req.js
  frontend/src/views/ErrorPage.vue
  frontend/src/views/PaperDashboard.vue
  frontend/src/views/author/CoAuthors.vue
  frontend/src/views/reference/CitedTree.vue
  frontend/src/views/topic/SameTopic.vue
  frontend/tests/setup.js
Due: frontend_install, frontend_lint, frontend_test, frontend_deploy

add test cases for components
  frontend/tests/components/PaperList.test.js
  frontend/tests/components/SearchResult.test.js
  frontend/tests/components/UserChip.test.js
  frontend/tests/setup.js
  frontend/tests/views/ErrorPage.test.js
  frontend/tests/views/PaperDashboard.test.js
Due: frontend_install, frontend_lint, frontend_test, frontend_deploy

update test timeout
  frontend/vite.config.js
Due: frontend_install, frontend_lint, frontend_test, frontend_deploy

update test timeout
  frontend/tests/components/DashboardCard.test.js
  frontend/tests/setup.js
  frontend/vite.config.js
Due: frontend_install, frontend_lint, frontend_test, frontend_deploy

update same topic page log
  frontend/src/views/topic/SameTopic.vue
Due: frontend_install, frontend_lint, frontend_test, frontend_deploy

update backend TEST_MODE
  backend/app/db/config.py
  backend/app/main.py
Due: backend_lint, backend_test, backend_deploy, grobid_deploy

update backend lint
  backend/app/db/config.py
  backend/app/main.py
Due: backend_lint, backend_test, backend_deploy, grobid_deploy

Update api examples and API Doc
  Documents/API Docs/api.md
  Documents/API Docs/openapi.json
  backend/app/db/config.py
  backend/app/main.py
  backend/app/routers/analysis_api.py
  backend/app/routers/catalog_api.py
  backend/app/routers/response_example.py
  backend/app/services/catalog.py
  backend/app/test_main.py
  backend/requirements.txt
Due: backend_lint, backend_test, backend_deploy, grobid_deploy

Remove codes unneeded
  backend/app/main.py
Due: backend_lint, backend_test, backend_deploy, grobid_deploy

Update Dockerfile
  backend/Dockerfile
  backend/app/main.py
  backend/app/routers/catalog_api.py
  backend/app/routers/response_example.py
  backend/app/test_main.py
Due: backend_lint, backend_test, backend_deploy, grobid_deploy

update frontend README
  frontend/README.md
  frontend/src/assets/logo.svg
Due: frontend_install, frontend_lint, frontend_test, frontend_deploy

update Design.md format
  Documents/Design.md
Due: none

Update tech stack
  Documents/ArchitectureDesign.md
  Documents/Image/TechStack.jpg
Due: none

Update tech stack
  Documents/ArchitectureDesign.md
Due: none

Update format
  Documents/ArchitectureDesign.md
Due: none

fix-bug-co-author-api-returns-irrelevant-data
  backend/app/services/catalog.py
Due: backend_lint, backend_test, backend_deploy, grobid_deploy
