Repository Xinyi-Ding/Scolarly-Net: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend_install, frontend_lint, frontend_test, frontend_deploy, backend_lint, backend_test, backend_deploy, grobid_deploy

frontend_install:
  before_script:
  - cd frontend
  - pwd
  stage: install
  image: node:20
  tags:
  - frontend
  script:
  - echo "Cleaning installed the dependency..."
  - rm -rf node_modules
  - npm ci
  - echo "Installed!"

frontend_lint:
  before_script:
  - cd frontend
  - pwd
  stage: lint
  image: node:20
  tags:
  - frontend
  script:
  - echo "Linting code..."
  - npm run lint
  - echo "Lint passed!"

frontend_test:
  before_script:
  - cd frontend
  - pwd
  stage: test
  image: node:20
  tags:
  - frontend
  script:
  - echo "Running unit tests..."
  - npm test
  - echo "All test passed!"

frontend_deploy:
  before_script:
  - cd frontend
  - pwd
  stage: deploy
  tags:
  - shell
  script:
  - echo "Deploying application..."
  - sudo docker stop frontend-container || true
  - sudo docker rm frontend-container || true
  - sudo docker build -t frontend-image .
  ...

backend_lint:
  before_script:
  - cd backend
  - pwd
  stage: lint
  image: python:3.10
  tags:
  - backend
  script:
  - pip install flake8
  - flake8 . --max-line-length=120

backend_test:
  before_script:
  - cd backend
  - pwd
  stage: test
  image: python:3.10
  tags:
  - backend
  script:
  - apt-get update && apt-get install -y ruby-full
  - gem install anystyle-cli
  - pip install -r requirements.txt
  - pytest .

backend_deploy:
  before_script:
  - cd backend
  - pwd
  stage: deploy
  tags:
  - shell
  script:
  - echo "Deploying application..."
  - sudo docker stop backend-container || true
  - sudo docker rm backend-container || true
  - sudo docker build -t backend-image .
  ...

grobid_deploy:
  before_script:
  - cd backend
  - pwd
  stage: deploy
  tags:
  - shell
  script:
  - echo "Deploying grobid..."
  - sudo docker stop grobid-container || true
  - sudo docker rm grobid-container || true
  - sudo docker run -d -p 8070:8070 --name grobid-container grobid/grobid:0.8.0
  ...

CI validation test
  backend/app/services/test_analysis.py
Due: backend_lint, backend_test, backend_deploy, grobid_deploy

Update TechStack.jpg
  Documents/Image/TechStack.jpg
Due: none

Upload Evaluation documention and data model documentation
  Documents/Evaluation.md
  Documents/Image/abstract_compare.jpg
  Documents/Image/author_relation.jpg
  Documents/Image/citation_tree.png
  Documents/Image/data_model_v1.jpg
  Documents/Image/data_model_v1.svg
  Documents/Image/final_model.jpg
  Documents/Image/kewords_map.jpg
  Documents/Image/keywords_example.jpg
  Documents/Image/parsing_example.png
  Documents/Image/reference_segements.jpg
  Documents/Image/search_result.jpg
  Documents/Image/topic_limitation.png
  Documents/Image/topic_map.jpg
  Documents/data_model.md
Due: none

Update ArchitectureDesign.md
  Documents/ArchitectureDesign.md
Due: none

Update format
  Documents/ArchitectureDesign.md
Due: none

Add strengths in Evalution, upload extraction test analysis
  Documents/Evaluation.md
  Documents/Test Analysis.md
Due: none

add Test-Analysis.md
  Documents/Test-Analysis.md
Due: none

update Test-Analysis.md and related docs
  Documents/Evaluation.md
  Documents/Test Analysis.md
  Documents/Test-Analysis.md
  Documents/Usability-Form.md
  Documents/Usability.md
Due: none

update Test-Analysis.md
  Documents/Test-Analysis.md
Due: none

1. update Test-Analysis.md 2. update Evaluation.md format
  Documents/Evaluation.md
  Documents/Test-Analysis.md
  Documents/Usability.md
Due: none

update Evaluation.md
  Documents/Evaluation.md
  Documents/Image/connection_data.png
  Documents/Image/large_dataset_graph.png
  Documents/Image/router_link.gif
  Documents/Test-Analysis.md
Due: none

Update ArchitectureDesign.md
  Documents/ArchitectureDesign.md
  Documents/Image/ComponentGraph.png
Due: none

Update Components Design Part in ArchitectureDesign.md
  Documents/ArchitectureDesign.md
Due: none

update Guide.md
  Documents/Guide.md
  Documents/Image/base_layout.png
  Documents/Image/cited_tree.png
  Documents/Image/co_author.png
  Documents/Image/file_upload.png
  Documents/Image/graph_page.png
  Documents/Image/link_cards.png
  Documents/Image/paper_information.png
  Documents/Image/same_topic.png
  Documents/Test-Analysis.md
Due: none

update READMEs
  backend/README.md
  frontend/README.md
Due: frontend_install, frontend_lint, frontend_test, frontend_deploy, backend_lint, backend_test, backend_deploy, grobid_deploy

1. update READMEs 2. increase vitest timeout threshold
  backend/README.md
  frontend/README.md
  frontend/vite.config.js
Due: frontend_install, frontend_lint, frontend_test, frontend_deploy, backend_lint, backend_test, backend_deploy, grobid_deploy

Update Components Design Part in ArchitectureDesign.md
  Documents/ArchitectureDesign.md
  Documents/Image/ComponentGraph.png
Due: none

update README and Guide
  Documents/Guide.md
  frontend/README.md
Due: frontend_install, frontend_lint, frontend_test, frontend_deploy

Update ArchitectureDesign.md
  Documents/ArchitectureDesign.md
  Documents/Image/TechStack.jpg
Due: none

Update table of content
  Documents/ArchitectureDesign.md
Due: none

add restart option in CI
  .gitlab-ci.yml
Due: frontend_install, frontend_lint, frontend_test, frontend_deploy, backend_lint, backend_test, backend_deploy, grobid_deploy

Modify test analysis parsing part
  Documents/Evaluation.md
  Documents/Test-Analysis.md
Due: none

Update ## Test Analysis: Backend Functionality in Test-Analysis.md
  Documents/Test-Analysis.md
Due: none

Update ###Database in Evaluation.md
  Documents/Evaluation.md
  Documents/Image/db_example1.png
  Documents/Image/db_example2.png
  Documents/img.png
Due: none

updata data model in design.md
  Documents/Design.md
  Documents/Plan.md
  README.md
Due: none

modify Data-Model.md file name
  Documents/Data-Model.md
  Documents/Evaluation.md
Due: none

Update Design.md
  Documents/Architecture-And-Components-Design.md
  Documents/Design.md
  backend/data/JSON/2989081.2989121.json
  backend/data/json/2989081.2989121.json
Due: backend_lint, backend_test, backend_deploy, grobid_deploy

Update README.md
  README.md
Due: none

Add table of content for evaluation.md, modify plan,design and readme
  Documents/Design.md
  Documents/Evaluation.md
  Documents/Plan.md
  README.md
Due: none

Update README.md in /backend
  backend/README.md
Due: backend_lint, backend_test, backend_deploy, grobid_deploy

Improve backend code comments and documentation.
  backend/app/db/config.py
  backend/app/db/mongoengine_models.py
  backend/app/db/test_db.py
  backend/app/integration/__init__.py
  backend/app/integration/catalog_access.py
  backend/app/integration/test_integration.py
  backend/app/main.py
  backend/app/routers/analysis_api.py
  backend/app/routers/catalog_api.py
  backend/app/routers/response_example.py
  backend/app/services/catalog.py
  backend/app/services/models.py
  backend/app/services/schema.py
  backend/app/test_main.py
Due: backend_lint, backend_test, backend_deploy, grobid_deploy

Improve backend code comments and documentation.
  backend/app/services/analysis.py
  backend/app/services/test_analysis.py
Due: backend_lint, backend_test, backend_deploy, grobid_deploy

Improve backend code comments and documentation.
  backend/app/services/Extractor/Grobid/client.py
  backend/app/services/Extractor/Grobid/grobid_client.py
  backend/app/services/Extractor/extractor.py
  backend/app/services/Parser/parser.py
  backend/app/services/Parser/types.py
Due: backend_lint, backend_test, backend_deploy, grobid_deploy

Improve backend code comments and documentation.
  backend/app/services/catalog.py
Due: backend_lint, backend_test, backend_deploy, grobid_deploy

Improve backend code comments and documentation.
  backend/README.md
  backend/app/services/test_analysis.py
Due: backend_lint, backend_test, backend_deploy, grobid_deploy

Add 'Related Requirement IDs' in Architecture-And-Components Design
  Documents/Architecture-And-Components-Design.md
Due: none

fix link issue in ./Documents/README.md
  Documents/README.md
Due: none

Path conditions:
  frontend_install: any of: frontend/**/*, .gitlab-ci.yml
  frontend_lint: any of: frontend/**/*, .gitlab-ci.yml
  frontend_test: any of: frontend/**/*, .gitlab-ci.yml
  frontend_deploy: any of: frontend/**/*, .gitlab-ci.yml
  backend_lint: any of: backend/**/*, .gitlab-ci.yml
  backend_test: any of: backend/**/*, .gitlab-ci.yml
  backend_deploy: any of: backend/**/*, .gitlab-ci.yml
  grobid_deploy: any of: backend/**/*, .gitlab-ci.yml
