Repository Xinyi-Ding/Scolarly-Net: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend_install, frontend_lint, frontend_test, frontend_build, backend_lint, backend_test

frontend_install:
  before_script:
  - cd frontend
  stage: install
  image: node:20
  tags:
  - frontend
  script:
  - echo "Cleaning installed the dependency..."
  - rm -rf node_modules
  - npm ci
  - echo "Installed!"

frontend_lint:
  before_script:
  - cd frontend
  stage: lint
  image: node:20
  tags:
  - frontend
  script:
  - echo "Linting code..."
  - npm run lint
  - echo "Lint passed!"

frontend_test:
  before_script:
  - cd frontend
  stage: test
  image: node:20
  tags:
  - frontend
  script:
  - echo "Running unit tests..."
  - npm test
  - echo "All test passed!"

frontend_build:
  before_script:
  - cd frontend
  stage: build
  image: node:20
  tags:
  - frontend
  script:
  - echo "Building application..."
  - npm run build
  - echo "Built!"
  - ls

backend_lint:
  before_script:
  - cd backend
  stage: lint
  image: python:3.10
  tags:
  - backend
  script:
  - pip install flake8
  - flake8 . --max-line-length=120

backend_test:
  before_script:
  - cd backend
  stage: test
  image: python:3.10
  tags:
  - backend
  script:
  - pip install -r backend/requirements.txt
  - pytest test/test_main.py
  - pytest test/test_db.py
  - pytest test/test_integration.py
  - pytest test/test_analysis.py

Fix errors made by CI
  backend/test/test_main.py
Due: backend_lint, backend_test

rebase
  backend/app/data/xml/2185475.2185478.xml
  backend/app/data/xml/3242789.3242827.xml
Due: backend_lint, backend_test

stage change for rebase
  backend/app/data/xml/1-s2.0-S0732312304000781-main.xml
  backend/app/data/xml/3491418.3530766.xml
  backend/app/routers/analysis_api.py
  backend/app/services/Extractor/Grobid/__pycache__/grobid_client.cpython-310.pyc
  backend/app/services/Extractor/__pycache__/extractor.cpython-310.pyc
  backend/app/services/Parser/__pycache__/parser.cpython-310.pyc
  backend/app/services/Parser/__pycache__/types.cpython-310.pyc
  backend/app/services/Parser/types.py
Due: backend_lint, backend_test

resolve backend test error
  backend/test/test_data/JSON/2830168.2830173.json
Due: backend_lint, backend_test

rebase
  backend/app/__pycache__/__init__.cpython-38.pyc
  backend/app/services/Parser/parser.py
  backend/app/services/Parser/types.py
  backend/app/services/__pycache__/__init__.cpython-38.pyc
  backend/app/services/__pycache__/analysis.cpython-38.pyc
  backend/app/services/__pycache__/models.cpython-310.pyc
  backend/test/__pycache__/__init__.cpython-310.pyc
  backend/test/__pycache__/__init__.cpython-38.pyc
  backend/test/__pycache__/test_analysis.cpython-310-pytest-8.0.2.pyc
  backend/test/__pycache__/test_analysis.cpython-38-pytest-8.0.2.pyc
  backend/test/__pycache__/test_db.cpython-310-pytest-8.0.2.pyc
  backend/test/__pycache__/test_integration.cpython-310-pytest-8.0.2.pyc
  backend/test/__pycache__/test_main.cpython-310-pytest-8.0.2.pyc
  backend/test/test_analysis.py
  backend/test/test_data/JSON/3491418.3530766.json
  backend/test/test_data/JSON/3491418.3535134.json
  backend/test/test_data/xml/1375527.1375529.xml
  backend/test/test_data/xml/1693453.1693454.xml
  backend/test/test_data/xml/2830168.2830173.xml
  backend/test/test_data/xml/3144769.3144774.xml
  backend/test/test_data/xml/3242789.3242827.xml
  backend/test/test_data/xml/3491418.3530766.xml
  backend/test/test_data/xml/3491418.3535134.xml
Due: backend_lint, backend_test

rebase
  backend/app/services/Parser/__pycache__/parser.cpython-38.pyc
  backend/app/services/Parser/__pycache__/types.cpython-38.pyc
  backend/app/services/Parser/parser.py
  backend/app/services/Parser/types.py
  backend/app/services/__pycache__/analysis.cpython-38.pyc
  backend/test/__pycache__/test_analysis.cpython-38-pytest-8.0.2.pyc
  backend/test/test_analysis.py
  backend/test/test_data/JSON/1375527.1375529.json
  backend/test/test_data/JSON/1693453.1693454.json
  backend/test/test_data/JSON/2830168.2830173.json
  backend/test/test_data/JSON/3144769.3144774.json
  backend/test/test_data/JSON/3242789.3242827.json
  backend/test/test_data/JSON/3491418.3530766.json
  backend/test/test_data/JSON/3491418.3535134.json
  backend/test/test_data/Papers/1375527.1375529.pdf
  backend/test/test_data/Papers/1693453.1693454.pdf
  backend/test/test_data/Papers/2830168.2830173.pdf
  backend/test/test_data/Papers/3144769.3144774.pdf
  backend/test/test_data/Papers/3242789.3242827.pdf
  backend/test/test_data/Papers/3491418.3530766.pdf
  backend/test/test_data/Papers/3491418.3535134.pdf
  backend/test/test_data/xml/1375527.1375529.xml
  backend/test/test_data/xml/1693453.1693454.xml
  backend/test/test_data/xml/2830168.2830173.xml
  backend/test/test_data/xml/3144769.3144774.xml
  backend/test/test_data/xml/3242789.3242827.xml
  backend/test/test_data/xml/3491418.3530766.xml
  backend/test/test_data/xml/3491418.3530773.xml
  backend/test/test_data/xml/3491418.3535134.xml
Due: backend_lint, backend_test

stash change
  backend/app/data/xml/1-s2.0-S027322971400046X-main.xml
  backend/app/data/xml/2185475.2185478.xml
  backend/app/data/xml/2740769.2740862.xml
  backend/app/data/xml/3242789.3242827.xml
Due: backend_lint, backend_test

fix flake8 error
  backend/app/data/xml/1375527.1375529.xml
  backend/app/data/xml/3132525.3132547.xml
  backend/app/main.py
  backend/app/routers/analysis_api.py
  backend/test/test_analysis.py
  backend/test/test_main.py
Due: backend_lint, backend_test

Update parss xml to article function in catalog.py
  backend/app/services/Parser/__pycache__/parser.cpython-38.pyc
  backend/app/services/Parser/__pycache__/types.cpython-38.pyc
  backend/app/services/__pycache__/analysis.cpython-38.pyc
  backend/app/services/analysis.py
  backend/app/services/catalog.py
Due: backend_lint, backend_test

resolve flake8 error
  backend/app/services/Parser/parser.py
  backend/app/services/Parser/types.py
  backend/app/services/catalog.py
Due: backend_lint, backend_test

update path
  backend/app/db/__pycache__/config.cpython-310.pyc
  backend/app/db/__pycache__/mongoengine_models.cpython-310.pyc
  backend/app/main.py
  backend/app/routers/catalog_api.py
  backend/app/services/Extractor/Grobid/__pycache__/__init__.cpython-310.pyc
  backend/app/services/Extractor/Grobid/__pycache__/grobid_client.cpython-310.pyc
  backend/app/services/Extractor/__pycache__/__init__.cpython-310.pyc
  backend/app/services/Extractor/__pycache__/extractor.cpython-310.pyc
  backend/app/services/Parser/__pycache__/__init__.cpython-310.pyc
  backend/app/services/Parser/__pycache__/parser.cpython-310.pyc
  backend/app/services/Parser/__pycache__/types.cpython-310.pyc
  backend/app/services/__pycache__/models.cpython-310.pyc
  backend/app/services/catalog.py
  backend/test/__pycache__/__init__.cpython-310.pyc
  backend/test/__pycache__/test_integration.cpython-310-pytest-8.0.2.pyc
  backend/test/__pycache__/test_main.cpython-310-pytest-8.0.2.pyc
  backend/test/test_main.py
Due: backend_lint, backend_test

Encapsulate function to extract data to JSON
  backend/app/services/Parser/__pycache__/parser.cpython-38.pyc
  backend/app/services/Parser/__pycache__/types.cpython-38.pyc
  backend/app/services/__pycache__/analysis.cpython-38.pyc
  backend/app/services/analysis.py
  backend/app/services/catalog.py
Due: backend_lint, backend_test

Encapsulate function to extract data to JSON
  backend/app/services/catalog.py
Due: backend_lint, backend_test

Update catalog.py and download data from db into /data/db_dump as back up
  backend/app/data/db_dump/article.json
  backend/app/data/db_dump/article_author.json
  backend/app/data/db_dump/article_citation.json
  backend/app/data/db_dump/article_topic.json
  backend/app/data/db_dump/author.json
  backend/app/data/db_dump/sequence.json
  backend/app/data/db_dump/topic.json
  backend/app/db/__pycache__/mongoengine_models.cpython-310.pyc
  backend/app/db/mongoengine_models.py
  backend/app/intergration/catalog_access.py
  backend/app/services/Parser/__pycache__/types.cpython-310.pyc
  backend/app/services/__pycache__/models.cpython-310.pyc
  backend/app/services/catalog.py
  backend/app/services/models.py
  backend/test/__pycache__/test_analysis.cpython-310-pytest-8.0.2.pyc
  backend/test/__pycache__/test_db.cpython-310-pytest-8.0.2.pyc
  backend/test/__pycache__/test_integration.cpython-310-pytest-8.0.2.pyc
  backend/test/test_integration.py
Due: backend_lint, backend_test

Fix errors made by test
  .gitlab-ci.yml
Due: none

1. add PaperList component 2. fix bugs cause by author objects
  frontend/src/components/PaperList.vue
  frontend/src/layouts/BaseLayout.vue
  frontend/src/lib/exampleCitedTree.json
  frontend/src/lib/exampleCoAuthor.json
  frontend/src/lib/exampleSameTopic.json
  frontend/src/lib/exampleTopicConnection.json
  frontend/src/utils/network.js
  frontend/src/views/PaperDashboard.vue
  frontend/src/views/author/CoAuthors.vue
  frontend/src/views/reference/CitedTree.vue
  frontend/src/views/topic/SameTopic.vue
  frontend/src/views/topic/TopicConnections.vue
Due: frontend_install, frontend_lint, frontend_test, frontend_build

1. Update indexes for mongoengine_models.py. 2. finish essential development of endpoint
  backend/app/db/__pycache__/config.cpython-310.pyc
  backend/app/db/__pycache__/mongoengine_models.cpython-310.pyc
  backend/app/db/mongoengine_models.py
  backend/app/intergration/catalog_access.py
  backend/app/routers/catalog_api.py
  backend/app/services/Parser/__pycache__/types.cpython-310.pyc
  backend/app/services/__pycache__/models.cpython-310.pyc
  backend/app/services/catalog.py
  backend/app/services/schema.py
  backend/test/__pycache__/test_integration.cpython-310-pytest-8.0.2.pyc
Due: backend_lint, backend_test

conflict resolve
  backend/test/__pycache__/test_analysis.cpython-310-pytest-8.0.2.pyc
  backend/test/__pycache__/test_db.cpython-310-pytest-8.0.2.pyc
  backend/test/__pycache__/test_integration.cpython-310-pytest-8.0.2.pyc
  backend/test/__pycache__/test_main.cpython-310-pytest-8.0.2.pyc
  backend/test/test_analysis.py
  backend/test/test_data/JSON/2830168.2830173.json
  backend/test/test_data/xml/1375527.1375529.xml
  backend/test/test_data/xml/1693453.1693454.xml
  backend/test/test_data/xml/2830168.2830173.xml
  backend/test/test_data/xml/3144769.3144774.xml
  backend/test/test_data/xml/3242789.3242827.xml
  backend/test/test_data/xml/3491418.3530766.xml
  backend/test/test_data/xml/3491418.3530773.xml
  backend/test/test_data/xml/3491418.3535134.xml
Due: backend_lint, backend_test

update CI yaml
  .gitignore
  .gitlab-ci.yml
Due: none

add requirement.txt
  backend/requirements.txt
Due: backend_lint, backend_test

resolve backend test problem
  backend/app/services/test_data/JSON/2830168.2830173.json
Due: backend_lint, backend_test

fix typo
  backend/app/routers/analysis_api.py
  backend/app/services/Parser/parser.py
  backend/app/services/Parser/types.py
  backend/app/services/analysis.py
  backend/app/services/catalog.py
  backend/app/services/test_analysis.py
  backend/app/services/test_data/xml/1375527.1375529.xml
  backend/app/services/test_data/xml/1693453.1693454.xml
  backend/app/services/test_data/xml/2830168.2830173.xml
  backend/app/services/test_data/xml/3144769.3144774.xml
  backend/app/services/test_data/xml/3242789.3242827.xml
  backend/app/services/test_data/xml/3491418.3530766.xml
  backend/app/services/test_data/xml/3491418.3530773.xml
  backend/app/services/test_data/xml/3491418.3535134.xml
Due: backend_lint, backend_test

add new field
  backend/app/db/config.py
  backend/app/db/mongoengine_models.py
  backend/app/services/Extractor/Grobid/__pycache__/__init__.cpython-310.pyc
  backend/app/services/Extractor/Grobid/__pycache__/grobid_client.cpython-310.pyc
  backend/app/services/catalog.py
  backend/app/services/models.py
Due: backend_lint, backend_test

Change _ to camel
  backend/app/db/config.py
  backend/app/routers/catalog_api.py
  backend/app/services/Extractor/Grobid/__pycache__/__init__.cpython-310.pyc
  backend/app/services/Extractor/Grobid/__pycache__/grobid_client.cpython-310.pyc
  backend/app/services/catalog.py
  backend/app/services/schema.py
Due: backend_lint, backend_test

return article id
  backend/app/data/xml/1-s2.0-S027322971400046X-main.xml
  backend/app/data/xml/2938615.2938616.xml
  backend/app/data/xml/2989081.2989121.xml
  backend/app/routers/analysis_api.py
  backend/app/services/Parser/types.py
  backend/app/services/catalog.py
  backend/app/services/test_analysis.py
  backend/app/services/test_data/JSON/2830168.2830173.json
  backend/app/services/test_data/Papers/2830168.2830173.pdf
  backend/app/services/test_data/xml/2830168.2830173.xml
Due: backend_lint, backend_test

delete pycache
  backend/app/services/Extractor/Grobid/__pycache__/__init__.cpython-310.pyc
  backend/app/services/Extractor/Grobid/__pycache__/grobid_client.cpython-310.pyc
  frontend/src/layouts/BaseLayout.vue
  frontend/src/utils/req.js
  frontend/src/views/ErrorPage.vue
  frontend/src/views/author/CoAuthors.vue
  frontend/src/views/reference/CitedTree.vue
  frontend/src/views/topic/SameTopic.vue
Due: frontend_install, frontend_lint, frontend_test, frontend_build, backend_lint, backend_test

fix lint
  backend/app/routers/analysis_api.py
Due: backend_lint, backend_test

Add LICENSE
  LICENSE
Due: none

update frontend backend connection
  backend/app/db/config.py
  backend/app/services/catalog.py
  backend/app/services/schema.py
  frontend/src/components/PaperList.vue
  frontend/src/components/SearchResult.vue
  frontend/src/components/UserChip.vue
  frontend/src/layouts/BaseLayout.vue
  frontend/src/lib/routesConfig.js
  frontend/src/utils/network.js
  frontend/src/utils/req.js
  frontend/src/views/ErrorPage.vue
  frontend/src/views/author/CoAuthors.vue
  frontend/src/views/reference/CitedTree.vue
  frontend/src/views/topic/SameTopic.vue
Due: frontend_install, frontend_lint, frontend_test, frontend_build, backend_lint, backend_test

Fix when search same topic and co_author, api can not return the article searched
  backend/app/services/catalog.py
Due: backend_lint, backend_test

optimised artical parser
  backend/app/routers/analysis_api.py
  backend/app/services/Extractor/Grobid/__pycache__/__init__.cpython-310.pyc
  backend/app/services/Extractor/Grobid/__pycache__/grobid_client.cpython-310.pyc
  backend/app/services/Parser/parser.py
  backend/app/services/analysis.py
  backend/app/services/test_analysis.py
  backend/app/services/test_data/xml/1375527.1375529.xml
  backend/app/services/test_data/xml/1693453.1693454.xml
  backend/app/services/test_data/xml/3144769.3144774.xml
  backend/app/services/test_data/xml/3242789.3242827.xml
  backend/app/services/test_data/xml/3491418.3530766.xml
  backend/app/services/test_data/xml/3491418.3530773.xml
  backend/app/services/test_data/xml/3491418.3535134.xml
Due: backend_lint, backend_test

update pages styling
  frontend/src/components/PaperList.vue
  frontend/src/layouts/BaseLayout.vue
  frontend/src/lib/exampleCitedTree.json
  frontend/src/lib/exampleDashboard.json
  frontend/src/utils/network.js
  frontend/src/views/PaperDashboard.vue
  frontend/src/views/author/AuthorAffiliation.vue
  frontend/src/views/author/CoAuthors.vue
  frontend/src/views/reference/CitedByTree.vue
  frontend/src/views/reference/CitedTree.vue
  frontend/src/views/topic/SameTopic.vue
  frontend/src/views/topic/TopicConnections.vue
Due: frontend_install, frontend_lint, frontend_test, frontend_build

add CD file
  .gitignore
  .gitlab-ci.yml
  backend/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.conf
Due: frontend_install, frontend_lint, frontend_test, frontend_build, backend_lint, backend_test

fix only syntax error
  .gitlab-ci.yml
Due: none

fix syntax error
  .gitlab-ci.yml
Due: none

add application guide and usability test handout
  Documents/Guide.md
  Documents/Usability.md
  frontend/src/layouts/BaseLayout.vue
Due: frontend_install, frontend_lint, frontend_test, frontend_build

Add tag and clean stage for CD
  .gitlab-ci.yml
Due: none

Path conditions:
  frontend_install: any of: frontend/**/*
  frontend_lint: any of: frontend/**/*
  frontend_test: any of: frontend/**/*
  frontend_build: any of: frontend/**/*
  backend_lint: any of: backend/**/*
  backend_test: any of: backend/**/*
