Repository Xinyi-Ding/Scolarly-Net: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend_install, frontend_lint, frontend_test, frontend_build, backend_lint, backend_test

frontend_install:
  before_script:
  - cd frontend
  stage: install
  image: node:20
  tags:
  - frontend
  script:
  - echo "Cleaning installed the dependency..."
  - rm -rf node_modules
  - npm ci
  - echo "Installed!"

frontend_lint:
  before_script:
  - cd frontend
  stage: lint
  image: node:20
  tags:
  - frontend
  script:
  - echo "Linting code..."
  - npm run lint
  - echo "Lint passed!"

frontend_test:
  before_script:
  - cd frontend
  stage: test
  image: node:20
  tags:
  - frontend
  script:
  - echo "Running unit tests..."
  - npm test
  - echo "All test passed!"

frontend_build:
  before_script:
  - cd frontend
  stage: build
  image: node:20
  tags:
  - frontend
  script:
  - echo "Building application..."
  - npm run build
  - echo "Built!"
  - ls

backend_lint:
  before_script:
  - cd backend
  stage: lint
  image: python:3.10
  tags:
  - backend
  script:
  - pip install flake8
  - flake8 . --max-line-length=120

backend_test:
  before_script:
  - cd backend
  stage: test
  image: python:3.10
  tags:
  - backend
  script:
  - pip install -r backend/requirements.txt
  - pytest test/test_main.py
  - pytest test/test_db.py
  - pytest test/test_integration.py
  - pytest test/test_analysis.py

try to fix CI bugs
  backend/backend-ci.yml
  frontend/frontend-ci.yml
Due: frontend_install, frontend_lint, frontend_test, frontend_build, backend_lint, backend_test

try to fix CI bugs
  .gitlab-ci.yml
  backend/backend-ci.yml
  frontend/frontend-ci.yml
Due: frontend_install, frontend_lint, frontend_test, frontend_build, backend_lint, backend_test

try to fix CI bugs (PLEASE PASS!!!!)
  .gitlab-ci.yml
  backend/backend-ci.yml
  frontend/frontend-ci.yml
Due: frontend_install, frontend_lint, frontend_test, frontend_build, backend_lint, backend_test

update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update Backend
  .gitignore
  backend/README.md
  backend/app/db/__pycache__/config.cpython-310.pyc
  backend/app/db/__pycache__/mongoengine_models.cpython-310.pyc
  backend/app/db/config.py
  backend/app/db/mongoengine_models.py
  backend/app/services/__pycache__/models.cpython-310.pyc
  backend/app/services/models.py
  backend/test/__pycache__/test_db.cpython-310-pytest-8.0.2.pyc
  backend/test/__pycache__/test_integration.cpython-310-pytest-8.0.2.pyc
  backend/test/test_db.py
  backend/test/test_integration.py
Due: backend_lint, backend_test

Upload Reference Extraction test
  backend/__pycache__/__init__.cpython-38.pyc
  backend/app/__pycache__/__init__.cpython-38.pyc
  backend/app/services/Extractor/__pycache__/__init__.cpython-38.pyc
  backend/app/services/Extractor/__pycache__/extractor.cpython-38.pyc
  backend/app/services/Grobid/__pycache__/__init__.cpython-38.pyc
  backend/app/services/Grobid/__pycache__/grobid_client.cpython-38.pyc
  backend/app/services/Parser/__pycache__/__init__.cpython-38.pyc
  backend/app/services/Parser/__pycache__/parser.cpython-38.pyc
  backend/app/services/Parser/__pycache__/types.cpython-38.pyc
  backend/app/services/Parser/parser.py
  backend/app/services/__pycache__/__init__.cpython-38.pyc
  backend/app/services/__pycache__/analysis.cpython-38.pyc
  backend/app/services/analysis.py
  backend/test/__pycache__/__init__.cpython-38.pyc
  backend/test/__pycache__/test_analysis.cpython-38-pytest-8.0.2.pyc
  backend/test/test_analysis.py
  backend/test/test_data/JSON/1693453.1693454.json
  backend/test/test_data/JSON/3144769.3144774.json
  backend/test/test_data/JSON/3242789.3242827.json
  backend/test/test_data/JSON/3491418.3530766.json
  backend/test/test_data/JSON/3491418.3530773.json
  backend/test/test_data/JSON/3491418.3535134.json
  backend/test/test_data/Papers/1693453.1693454.pdf
  backend/test/test_data/Papers/3144769.3144774.pdf
  backend/test/test_data/Papers/3491418.3530766.pdf
  backend/test/test_data/Papers/3491418.3535134.pdf
  backend/test/test_data/xml/1693453.1693454.xml
  backend/test/test_data/xml/3144769.3144774.xml
  backend/test/test_data/xml/3491418.3530766.xml
  backend/test/test_data/xml/3491418.3530773.xml
  backend/test/test_data/xml/3491418.3535134.xml
Due: backend_lint, backend_test

fix the pipeline
  backend/app/routers/analysis_api.py
  backend/app/services/Extractor/Grobid/__pycache__/__init__.cpython-310.pyc
  backend/app/services/Extractor/Grobid/__pycache__/grobid_client.cpython-310.pyc
  backend/app/services/Extractor/__pycache__/extractor.cpython-310.pyc
  backend/app/services/Parser/__pycache__/parser.cpython-310.pyc
  backend/app/services/Parser/__pycache__/types.cpython-310.pyc
  backend/app/services/Parser/types.py
  backend/app/services/models.py
  backend/test/__pycache__/__init__.cpython-310.pyc
  backend/test/__pycache__/test_analysis.cpython-310-pytest-8.0.2.pyc
  backend/test/__pycache__/test_db.cpython-310-pytest-8.0.2.pyc
  backend/test/__pycache__/test_integration.cpython-310-pytest-8.0.2.pyc
  backend/test/__pycache__/test_main.cpython-310-pytest-8.0.2.pyc
  backend/test/test_analysis.py
Due: backend_lint, backend_test

author extraction
  backend/app/data/xml/2185475.2185478.xml
  backend/app/data/xml/3418094.3418142.xml
  backend/app/services/Extractor/__pycache__/extractor.cpython-310.pyc
  backend/app/services/Extractor/extractor.py
  backend/app/services/Parser/__pycache__/parser.cpython-310.pyc
  backend/app/services/Parser/__pycache__/types.cpython-310.pyc
  backend/app/services/Parser/parser.py
  backend/app/services/Parser/types.py
  backend/app/services/analysis.py
  backend/main.py
  backend/test/__pycache__/test_analysis.cpython-310-pytest-8.0.2.pyc
  backend/test/test_analysis.py
  backend/test/test_data/JSON/3242789.3242827.json
  backend/test/test_data/JSON/3491418.3530773.json
  backend/test/test_data/xml/3491418.3530773.xml
Due: backend_lint, backend_test

resolve lint test
  backend/app/services/Parser/parser.py
  backend/app/services/Parser/types.py
  backend/main.py
Due: backend_lint, backend_test

upload CI
  .gitlab-ci.yml
  backend/requirements.txt
Due: backend_lint, backend_test

Add package in dockerfile
  backend/Dockerfile
  backend/app/services/Extractor/__pycache__/extractor.cpython-310.pyc
  backend/app/services/Parser/__pycache__/parser.cpython-310.pyc
  backend/app/services/Parser/__pycache__/types.cpython-310.pyc
  backend/test/__pycache__/test_analysis.cpython-310-pytest-8.0.2.pyc
Due: backend_lint, backend_test

change CI rule
  .gitlab-ci.yml
Due: none

make ci work
  .gitlab-ci.yml
Due: none

remove the reference test and will retest this later
  backend/test/test_analysis.py
Due: backend_lint, backend_test

1. add UserChip component 2. update API format 3. update paper list styles
  frontend/src/components/SearchResult.vue
  frontend/src/components/UserChip.vue
  frontend/src/lib/exampleCitedTree.json
  frontend/src/lib/exampleCoAuthor.json
  frontend/src/lib/exampleSameTopic.json
  frontend/src/lib/searchPaperResults.json
  frontend/src/views/author/CoAuthors.vue
  frontend/src/views/reference/CitedTree.vue
  frontend/src/views/topic/SameTopic.vue
Due: frontend_install, frontend_lint, frontend_test, frontend_build

Update reference test
  backend/app/services/Parser/__pycache__/parser.cpython-38.pyc
  backend/app/services/Parser/__pycache__/types.cpython-38.pyc
  backend/app/services/Parser/parser.py
  backend/app/services/Parser/types.py
  backend/app/services/__pycache__/analysis.cpython-38.pyc
  backend/app/services/analysis.py
  backend/test/__pycache__/test_analysis.cpython-38-pytest-8.0.2.pyc
  backend/test/test_analysis.py
  backend/test/test_data/JSON/1375527.1375529.json
  backend/test/test_data/JSON/1693453.1693454.json
  backend/test/test_data/JSON/2830168.2830173.json
  backend/test/test_data/JSON/3144769.3144774.json
  backend/test/test_data/JSON/3242789.3242827.json
  backend/test/test_data/JSON/3491418.3530766.json
  backend/test/test_data/JSON/3491418.3530773.json
  backend/test/test_data/JSON/3491418.3535134.json
  backend/test/test_data/Papers/1375527.1375529.pdf
  backend/test/test_data/Papers/1693453.1693454.pdf
  backend/test/test_data/Papers/2830168.2830173.pdf
  backend/test/test_data/Papers/3144769.3144774.pdf
  backend/test/test_data/Papers/3242789.3242827.pdf
  backend/test/test_data/Papers/3491418.3530766.pdf
  backend/test/test_data/Papers/3491418.3535134.pdf
  backend/test/test_data/xml/1375527.1375529.xml
  backend/test/test_data/xml/1693453.1693454.xml
  backend/test/test_data/xml/2830168.2830173.xml
  backend/test/test_data/xml/3144769.3144774.xml
  backend/test/test_data/xml/3242789.3242827.xml
  backend/test/test_data/xml/3491418.3530766.xml
  backend/test/test_data/xml/3491418.3530773.xml
  backend/test/test_data/xml/3491418.3535134.xml
Due: backend_lint, backend_test

Update reference test
  backend/app/data/Papers/2830168.2830173.pdf
  backend/app/data/Papers/3242789.3242827.pdf
Due: backend_lint, backend_test

update test
  frontend/tests/components/SearchResult.test.js
Due: frontend_install, frontend_lint, frontend_test, frontend_build

add dashboard api test
  frontend/.env.development
  frontend/src/views/PaperDashboard.vue
Due: frontend_install, frontend_lint, frontend_test, frontend_build

Update essential endpoint
  backend/app/main.py
  backend/app/routers/analysis_api.py
  backend/app/routers/catalog_api.py
  backend/app/services/Extractor/Grobid/grobid_client.py
  backend/app/services/__pycache__/models.cpython-310.pyc
  backend/app/services/schema.py
  backend/test/test_main.py
Due: backend_lint, backend_test

add dashboard api test
  frontend/src/lib/exampleDashboard.json
  frontend/src/views/ErrorPage.vue
  frontend/src/views/PaperDashboard.vue
Due: frontend_install, frontend_lint, frontend_test, frontend_build

Make some changes in endpoint
  backend/app/main.py
  backend/app/routers/analysis_api.py
  backend/app/routers/catalog_api.py
  backend/app/services/schema.py
Due: backend_lint, backend_test

resolve conflict
  .gitignore
  backend/app/data/xml/1693453.1693454.xml
  backend/app/data/xml/2830168.2830173.xml
  backend/app/data/xml/3132525.3132547.xml
  backend/app/data/xml/3538225.xml
  backend/app/main.py
  backend/app/routers/analysis_api.py
  backend/app/services/Extractor/__pycache__/extractor.cpython-310.pyc
  backend/app/services/Parser/__pycache__/parser.cpython-310.pyc
  backend/app/services/Parser/__pycache__/types.cpython-310.pyc
  backend/app/services/Parser/types.py
Due: backend_lint, backend_test

Fix errors made by CI
  backend/test/test_main.py
Due: backend_lint, backend_test

Fix errors made by CI
  .gitlab-ci.yml
Due: none

update paperdashboard - done by s2476735
  backend/app/data/xml/1-s2.0-S0165011413002583-main.xml
  backend/app/data/xml/1-s2.0-S0165011413004855-main.xml
  backend/app/data/xml/1-s2.0-S027322971400046X-main.xml
  backend/app/data/xml/1-s2.0-S0959475216300718-main.xml
  backend/app/data/xml/1046878120925133.xml
  backend/app/data/xml/2740769.2740862.xml
  backend/app/data/xml/2830168.2830173.xml
  backend/app/data/xml/2989081.2989121.xml
  backend/app/data/xml/3394277.3401855.xml
  backend/app/data/xml/3491418.3530766.xml
  backend/app/data/xml/3491418.3530773.xml
  backend/app/data/xml/3544977.xml
  backend/app/services/Parser/__pycache__/types.cpython-310.pyc
  frontend/src/utils/req.js
  frontend/src/views/PaperDashboard.vue
Due: frontend_install, frontend_lint, frontend_test, frontend_build, backend_lint, backend_test

Update Author test
  backend/app/services/Parser/__pycache__/parser.cpython-38.pyc
  backend/app/services/Parser/__pycache__/types.cpython-38.pyc
  backend/app/services/Parser/parser.py
  backend/app/services/Parser/types.py
  backend/app/services/__pycache__/analysis.cpython-38.pyc
  backend/test/__pycache__/test_analysis.cpython-38-pytest-8.0.2.pyc
  backend/test/test_analysis.py
  backend/test/test_data/JSON/3491418.3530766.json
  backend/test/test_data/JSON/3491418.3530773.json
  backend/test/test_data/JSON/3491418.3535134.json
  backend/test/test_data/xml/1375527.1375529.xml
  backend/test/test_data/xml/1693453.1693454.xml
  backend/test/test_data/xml/2830168.2830173.xml
  backend/test/test_data/xml/3144769.3144774.xml
  backend/test/test_data/xml/3242789.3242827.xml
  backend/test/test_data/xml/3491418.3530766.xml
  backend/test/test_data/xml/3491418.3530773.xml
  backend/test/test_data/xml/3491418.3535134.xml
Due: backend_lint, backend_test

resolve lint test
  backend/app/services/Parser/types.py
  backend/app/services/analysis.py
  backend/test/test_analysis.py
Due: backend_lint, backend_test

resolve backend test error
  backend/test/test_data/JSON/2830168.2830173.json
Due: backend_lint, backend_test

update pages styling
  frontend/src/components/DashboardCard.vue
  frontend/src/components/SearchResult.vue
  frontend/src/components/UserChip.vue
  frontend/src/layouts/BaseLayout.vue
  frontend/src/lib/exampleCoAuthor.json
  frontend/src/lib/exampleDashboard.json
  frontend/src/lib/searchAuthorResults.json
  frontend/src/lib/searchResults.json
  frontend/src/lib/searchTopicResults.json
  frontend/src/views/PaperDashboard.vue
  frontend/src/views/author/CoAuthors.vue
  frontend/src/views/reference/CitedTree.vue
  frontend/src/views/topic/SameTopic.vue
  frontend/src/views/topic/TopicConnections.vue
Due: frontend_install, frontend_lint, frontend_test, frontend_build

update dashboard and fix bug caused by undefined data
  frontend/src/views/PaperDashboard.vue
Due: frontend_install, frontend_lint, frontend_test, frontend_build

clean draft codes
  frontend/src/views/topic/TopicConnections.vue
Due: frontend_install, frontend_lint, frontend_test, frontend_build

rebase
  backend/app/main.py
  backend/app/routers/catalog_api.py
  backend/app/services/schema.py
Due: backend_lint, backend_test

rebase
  backend/app/routers/analysis_api.py
  backend/app/routers/catalog_api.py
  backend/app/services/Extractor/Grobid/grobid_client.py
  backend/app/services/__pycache__/models.cpython-310.pyc
  backend/app/services/schema.py
  backend/test/test_main.py
Due: backend_lint, backend_test

resolve lint test
  backend/app/services/Parser/types.py
  backend/test/test_analysis.py
Due: backend_lint, backend_test

Path conditions:
  frontend_install: any of: frontend/**/*
  frontend_lint: any of: frontend/**/*
  frontend_test: any of: frontend/**/*
  frontend_build: any of: frontend/**/*
  backend_lint: any of: backend/**/*
  backend_test: any of: backend/**/*
